ChangeLog
Makefile.in
aclocal.m4
autom4te.cache
config
config.h.in
configure
Doxyfile
Makefile
checktests/.deps/
checktests/Makefile
config.h
config.log
config.status
fixmath.pc
include/fixmath_ver.h
libtool
prof/.deps/
prof/Makefile
src/.deps/
src/.libs/
src/Makefile
src/fixmath.lo
src/fixmath_impl.lo
src/fixmath_str.lo
src/fixmath_ver.lo
src/libfixmath.la
stamp-h1
